@import 'loader.css';
@import 'color.css';
@import 'style.css';
@import 'nav.css';
@import 'menu.css';
@import 'footer.css';
@import 'responsive.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
