input[type='checkbox'],
.menu {
  margin-top: 16px;
  height: 30px;
  width: 35px;
  cursor: pointer;
  z-index: 2;
  padding-right: 50px;
  display: none;
}

#menu-bar:checked ~ .menu .top {
  transform: rotate(135deg);
  margin-top: 12px;
}
#menu-bar:checked ~ .menu .bottom {
  transform: rotate(-135deg);
  margin-top: -8px;
}

#menu-bar:checked ~ .menu .middle {
  display: none;
}

.menu .border {
  border-top: 3px solid #000000;
  border-radius: 5px;
  width: 25px;
  margin: 5px;
  transition: all 0.5s;
}

.dark .menu .border {
  border-top: 3px solid #ffffff;
}

.t-container {
  width: 12rem;
  height: 17.5rem;
  background: linear-gradient(to bottom, var(--dark-bg), var(--darker-bg));
  user-select: none;
  z-index: 99999;
  position: fixed;
  right: -100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.t-container a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  padding: 0.6rem;
  border-radius: 10px;
  transition: var(--transition);
  border-radius: 5px;
  width: fit-content;
}

.t-container a:hover {
  background: var(--hover-bg);
}

.t-container a:nth-child(1) {
  margin-top: 1rem;
}
