.con {
  opacity: 0;
  transition: all 0.5s ease;
}

.ad {
  width: 100%;
  height: 40px;
  background: var(--adder-bg);
}

.ad .ph i {
  font-size: 15px;
  margin: 0 5px;
}

.ad .ph {
  padding: 0 10%;
  font-size: 14px;
  line-height: 40px;
  color: var(--light-color);
}

.ad .social {
  color: var(--light-color);
  padding-right: 10%;
  line-height: 40px;
  float: right;
  font-size: 14px;
  user-select: none;
}

.ad .social .fol {
  margin-right: 30px;
}

.ad .social a {
  color: var(--dark-color);
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.5s ease;
  background-color: var(--light-color);
}

.dark .ad .social a {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.ad .social a:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.dark .ad .social a:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.nav-bar nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 3.8rem;
  background-color: var(--light-bg-color);
  position: sticky;
  top: 40px;
  box-shadow: var(--box-shadow);
  z-index: 9999;
}

.nav-bar nav h4 {
  font-size: 24px;
  text-transform: capitalize;
  cursor: pointer;
  width: fit-content;
  text-align: center;
  margin-left: 15px;
  padding: 14px 0 14px 0;
  line-height: 35px;
  letter-spacing: 1px;
  user-select: none;
}
.nav-bar nav h4 a {
  color: var(--primary-color);
  text-decoration: none;
  transition: all 0.5s ease;
}

.nav-bar nav .nav-links {
  width: fit-content;
  text-align: center;
  user-select: none;
  transition: all 0.5s ease;
  line-height: 3.95rem;
}

.nav-bar nav .nav-links a:hover {
  color: var(--primary-color);
  transition: all 0.5 ease;
}

.nav-bar nav .nav-links a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
  position: relative;
  padding: 10px;
  transition: all 0.5s ease;
}

.dark .nav-bar nav .nav-links a {
  color: var(--light-color);
}

.nav-bar nav .nav-links a::after {
  content: '';
  width: 0%;
  height: 2px;
  left: 0;
  top: 80%;
  border-radius: 20px;
  position: absolute;
  background: var(--primary-color);
  transition: 0.3s;
}

.nav-bar nav .nav-links a:hover::after {
  width: 75%;
  transform: translateX(15%);
}

.nav-bar nav .nav-links a:first-child::after {
  top: 100%;
}

.nav-bar nav .nav-links a:first-child {
  border-bottom: 2px solid var(--text-color);
  padding: 2px;
}

.nav-bar nav .nav-links a:first-child:hover:after {
  background: var(--primary-color);
  width: 100%;
  transform: translateX(0%);
}

.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-btn {
  padding: 10px;
}

.nav-btn .btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
  font-family: 15px;
  cursor: pointer;
  transition: var(--transition);
  border: none;
}

.search-bar {
  display: flex;
  flex-direction: row;
  max-width: 400px;
  padding: 10px;
}

.search-bar input {
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
  border-right: none;
  border-radius: 4px 0 0 4px;
  font-size: 0.9rem;
  outline: none;
  transition: border 0.2s ease-in;
  background-color: var(--light-color);
  color: var(--text-color);
}

.dark .search-bar input {
  background-color: var(--dark-color);
  color: var(--light-color);
  border-color: var(--border-color);
}

.search-bar input:focus {
  border: 1px solid var(--primary-color);
  border-right: none;
}

.search-bar button {
  background-color: var(--primary-color);
  color: var(--light-color);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.nav-links a:hover {
  color: var(--primary-color);
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.mode {
  width: 35px;
  height: 35px;
  margin-top: 14px;
  margin-right: 5px;
  text-align: center;
  font-size: 25px;
  border-radius: 10rem;
  cursor: pointer;
  color: var(--text-color);
  transition: all 0.2s ease;
}

.dark .mode {
  color: var(--light-color);
}

.mode:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}

#light {
  display: none;
}
